#manager, #vendeur{
    display: flex;
}
#manager .globl-title, #vendeur .globl-title{
    background: #253852de;
    color: white;
    padding-left: 20px;
}
#manager .logo , #vendeur .logo{
    display: flex;
    align-items: end;
    gap: 5px;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
#manager .globl-title ul , #vendeur .globl-title ul{
    list-style: none;
    padding: 0;
    text-align: start;
    padding-left: 10px;
}
#manager .globl-title li, #vendeur .globl-title li{
    font-size: 1.1rem;
    margin: 10px 0;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease-in;
    border-radius: 8px;
}
#manager .globl-title li:hover, #vendeur .globl-title li:hover{
    background: rgb(26, 140, 216);
}
#manager .globl-title li:last-child:hover, #vendeur .globl-title li:last-child:hover{
    background: transparent;
}
#manager .content .title, #vendeur .content .title,#client .content .title-client{
    background: #253852de;
    color: white;
    padding: 9px;
    
}
#manager::-webkit-scrollbar,#vendeur::-webkit-scrollbar,#pharmacy::-webkit-scrollbar, #client::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
#pharmacy::-webkit-scrollbar-thumb,#vendeur::-webkit-scrollbar-thumb,#manager::-webkit-scrollbar-thumb, #client::-webkit-scrollbar-thumb{
    background: rgb(255, 153, 0);
}
#pharmacy::-webkit-scrollbar-track,#vendeur::-webkit-scrollbar-track,#manager::-webkit-scrollbar-track, #client::-webkit-scrollbar-track{
    background: rgb(196, 191, 191);
}
#vendeur .showfacnum, #manager .showfacnum,#four .showfacnum{
    height: 9.5rem;
    overflow-y: scroll;
    
}

#vendeur .showfacnum::-webkit-scrollbar, #manager .showfacnum::-webkit-scrollbar ,#four .showfacnum::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}