#navbar img{
    height: 50px;
}

#navbar .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}
#navbar .item{
    transition: all ease-out 0.7s;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03rem;
    position: relative;
}
#navbar .item:hover{
    transform: scale(1.05);
    color: rgb(255, 153, 0);
}
#navbar .item::after{
    content: "";
    height: 2px;
    width: 0;
    background: rgb(255, 153, 0);
    position: absolute;
    bottom: 4px;
    left: 4px;
    transition: all ease-out 0.7s;
}
#navbar .item:hover::after{
    width: 96%;
}
